.order{
    padding: 43px;
    &__img{
        width: 100%;
        object-fit: cover;
    }
    &__block{
        background: url('../img/order/right.png') center/cover;
        position: relative;
        height: 100%;
        padding: 212px 120px 0 60px;
    }
    &__title{
        font-style: normal;
font-weight: normal;
font-size: 53px;
line-height: 60px;
/* identical to box height, or 114% */

letter-spacing: 1.65px;

color: #FFFFFF;
margin-bottom: 50px;
&_green{
    
color: #1B9097;
}
    }
    &__link{
        font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 20px;
/* identical to box height, or 118% */

text-align: center;

color: #35B8BE;
padding: 20px 35px;
text-decoration: none;
background: #FFFFFF;
border-radius: 4px;
    }
}