@import url('../fonts/inter/stylesheet.css');
@import url('../libs/bts/bootstrap-grid.min.css');
@import url('../libs/owl/owl.carousel.min.css');
@import url('../libs/owl/owl.theme.default.min.css');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: 'Inter';
}
@import './func.scss';
@import './header.scss';
@import './home.scss';
@import './about.scss';
@import './work.scss';
@import './menu.scss';
@import './faq.scss';
@import './contacts.scss';
@import './order.scss';
@import './footer.scss';
@import './overlays.scss';
@import './media.scss';